## **Pandas** - Panel Data | Python Data Analysis

**Pandas** *(styled as **pandas**)* is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license. The name is derived from the term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals, as well as a play on the phrase "Python data analysis". Wes McKinney started building what would become Pandas at AQR Capital while he was a researcher there from 2007 to 2010.

The development of Pandas introduced into Python many comparable features of working with DataFrames that were established in the R programming language. **The library is built upon another library, NumPy.** [pandas-wikipedia](https://en.wikipedia.org/wiki/Pandas_(software))

---
### Resources
* [Official Page](https://pandas.pydata.org/)
* [Official Docs](https://pandas.pydata.org/docs/)
* Lecture Notes *(refer to ../LectureNotes(HKUST)/13-pandas.pdf)*

### Pandas Series

A Pandas Series is a one-dimensional **labeled array** in the Pandas library for Python. It is a fundamental data structure in Pandas and can be thought of as a single column of data in a spreadsheet or a single column within a Pandas DataFrame. 

p.s. **labeled array** means apart from using [x] to index, we can use ['name'] to do the same thing.

In [1]:
import pandas
import numpy

# Let's create a pandas series out of a numpy array
data:numpy.ndarray = numpy.array(object = ['LI', 'Hantang', 'Male', 19])
series = pandas.Series(data = data, index = ['family_name', 'given_name', 'gender', 'age'])

# Let's print the series to have a peek into it
print("--------- Our First Series ---------")
print(series)

--------- Our First Series ---------
family_name         LI
given_name     Hantang
gender            Male
age                 19
dtype: object

In [2]:
# Indexing
print("------------- Indexing -------------")
print(f"Your last name is: {series.loc['family_name']} (using named index)")
print(f"Your first name is: {series.iloc[1]} (using numerical index)")
"""
Note that:
1. <series object name>.loc[] needs to fill in your NAMED index;
2. <series object name>.iloc[] needs to fill in the numerical index (just like an normal array).
"""
pass

------------- Indexing -------------
Your last name is: LI (using named index)
Your first name is: Hantang (using numerical index)

In [3]:
# Slicing (just like Python list, tuple and numpy ndarray)
print("------------- Slicing --------------")
name_series = series.loc['family_name' : 'given_name']
print(f"Series containing your name:\n{name_series}")
name_series.iloc[0] = "LIAN"
name_series.iloc[1] = "TANG"
print(f"Your 'real?' info:\n{series}")
print(f"Modified info:\n{name_series}") # meaning that, it's also a view 
"""
!!! Note that, unlike list and ndarray, 
When using .loc BOTH the starting and stopping indices are included in
the slice.
.iloc behaves like NumPy arrays and lists: specify the
start position (included) and the end position (excluded).
"""
pass

------------- Slicing --------------
Series containing your name:
family_name         LI
given_name     Hantang
dtype: object
Your 'real?' info:
family_name    LIAN
given_name     TANG
gender         Male
age              19
dtype: object
Modified info:
family_name    LIAN
given_name     TANG
dtype: object

In [4]:
# Masking
print("------------- Masking --------------")
numerical = pandas.Series(data = [1, 2, 3, 4, 5, 6]) # if no named index specified, 0, 1, ... will be used.
mask = numerical > 3
print(f"Mask:\n{mask}")
print(f"Masked Series:\n{numerical[mask]}") # we don't use .loc[] and .iloc[] here

------------- Masking --------------
Mask:
0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool
Masked Series:
3    4
4    5
5    6
dtype: int64

### Pandas Dataframe

A DataFrame is a powerful 2-dimensional data structure in Pandas, similar to a spreadsheet or SQL table.

It consists of **rows and columns**, where **each column is a Series object** that can hold different data types but shares the same index.

Each column in a DataFrame has a unique name, which allows for easy access and manipulation of the data.

DataFrames are ideal for handling structured data and performing complex data analysis and manipulation tasks.

#### Create a DataFrame from Scratch

*Parameters: (Constructor of object)*
```python
pandas.DataFrame
```
> **data** : *ndarray (structured or homogeneous), Iterable, dict, or DataFrame*
>     Dict can contain Series, arrays, constants, dataclass or list-like objects. If
>     data is a dict, column order follows insertion-order. If a dict contains Series
>     which have an index defined, it is aligned by its index. This alignment also
>     occurs if data is a Series or a DataFrame itself. Alignment is done on
>     Series/DataFrame inputs.
>     If data is a list of dicts, column order follows insertion-order.
>
> **index** : *Index or array-like*
>     Index to use for resulting frame. Will default to RangeIndex if
>     no indexing information part of input data and no index provided.
>
> **columns** : *Index or array-like*
>     Column labels to use for resulting frame when data does not have them,
>     defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
>     will perform column selection instead.
>
> **dtype** : *dtype, default None*
>     Data type to force. Only a single dtype is allowed. If None, infer.
>
> **copy** : *bool or None, default None*
>     Copy data from inputs.
>     For dict data, the default of None behaves like ``copy=True``.  For DataFrame
>     or 2d ndarray input, the default of None behaves like ``copy=False``.
>     If data is a dict containing one or more Series (possibly of different dtypes),
>     ``copy=False`` will ensure that these inputs are not copied.

In [5]:
import pandas

# some data first
mr_candy = pandas.Series(data = ['LEE', 'Hantang', 'Male', 19], \
                         index = ['family_name', 'given_name', 'gender', 'age'])
mr_joggy = pandas.Series(data = ['WONG', 'Zhengyang', 'Male', 20], \
                         index = ['family_name', 'given_name', 'gender', 'age'])
ms_misty = pandas.Series(data = ['N/a', 'カスミ', 'Female', 10], \
                         index = ['family_name', 'given_name', 'gender', 'age'])

# let's create a dataframe from scratch
dataframe = pandas.DataFrame(data = [mr_candy, mr_joggy, ms_misty])

# let's visualize
dataframe

  family_name given_name  gender  age
0         LEE    Hantang    Male   19
1        WONG  Zhengyang    Male   20
2         N/a        カスミ  Female   10

In [6]:
import pandas

# you can also insert by column (previously, row, or a single entry)
family_names = pandas.Series(data = ['LEE', 'WONG', 'N/a'])
given_names  = pandas.Series(data = ['Hantang', 'Zhengyang', 'カスミ'])
genders      = pandas.Series(data = ['Male', 'Male', 'Female'])
ages         = pandas.Series(data = [19, 20, 10])

dataframe = pandas.DataFrame(data = \
                             {'family_name' : family_names,
                              'given_name' : given_names,
                              'gender' : genders,
                              'age' : ages})

# visualize
dataframe

  family_name given_name  gender  age
0         LEE    Hantang    Male   19
1        WONG  Zhengyang    Male   20
2         N/a        カスミ  Female   10

In [7]:
import pandas

# You can also create a dataframe with missing fields
# Let's use the second format (column insertion)
family_names = pandas.Series(data = ['LEE', 'WONG'], index = ['person1', 'person2'])
given_names  = pandas.Series(data = ['Hantang', 'Zhengyang', 'カスミ'], index = ['person1', 'person2', 'person3'])
genders      = pandas.Series(data = ['Male', 'Female'], index = ['person2', 'person3'])
ages         = pandas.Series(data = [19, 20, 10], index = ['person1', 'person2', 'person3'])

dataframe = pandas.DataFrame(data = \
                             {'family_name' : family_names,
                              'given_name' : given_names,
                              'gender' : genders,
                              'age' : ages})

# visualize
dataframe

        family_name given_name  gender  age
person1         LEE    Hantang     NaN   19
person2        WONG  Zhengyang    Male   20
person3         NaN        カスミ  Female   10

_Note:_
* 'NaN' in the printed datafram symbolizes the missing field;
* We can also use [Index] other than numerical sequences (i.e. 'person1', 'person2' ...)

#### * Drop 'NaN's

```python
pandas.DataFrame.dropna()
```
**axis** : *{0 or 'index', 1 or 'columns'}*, default 0
Determine if rows or columns which contain missing values are removed.

> 0, or 'index' ⁠:⁠ Drop rows which contain missing values.
>
> 1, or 'columns' ⁠:⁠ Drop columns which contain missing value.
> Only a single axis is allowed.

**how** : *{'any', 'all'}*, default 'any'
Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.

> 'any' ⁠:⁠ If any NA values are present, drop that row or column.
>
> 'all' ⁠:⁠ If all values are NA, drop that row or column.

**inplace** : *bool*, default False
Whether to modify the DataFrame rather than creating a new one.

> This line of code will directly modify 'dataframe'
> ```python
> dataframe.dropna(axis = 0, how = 'any', inplace = True)
> ```
> While this will NOT (it returns a new modified DataFrame object)
> ```python
> <assign to a new object> = dataframe.dropna(axis = 0, how = 'any', inplace = False)
> ```

In [8]:
"""
You must run the previous cell first. (To get 'dataframe' initialized.)
"""

# You can use .dropna() to remove rows or columns with NaN
dataframe.dropna(axis = 0, how = 'any', inplace = True)

# visualize
dataframe

        family_name given_name gender  age
person2        WONG  Zhengyang   Male   20

#### Indexing a DataFrame

In other words, 'accessing' a DataFrame

In [9]:
import pandas

# Again, some data first
mr_candy = pandas.Series(data = ['LEE', 'Hantang', 'Male', 19], \
                         index = ['family_name', 'given_name', 'gender', 'age'])
mr_joggy = pandas.Series(data = ['WONG', 'Zhengyang', 'Male', 20], \
                         index = ['family_name', 'given_name', 'gender', 'age'])
ms_misty = pandas.Series(data = ['カスミ', 'Female', 10], \
                         index = ['given_name', 'gender', 'age'])   # in the format, for missing fields, simply ignore that index

# And a dataframe
dataframe = pandas.DataFrame(data = [mr_candy, mr_joggy, ms_misty], index = ['mr_candy', 'mr_joggy', 'ms_misty'])   # you can fill in the indexes here

# let's visualize
dataframe

         family_name given_name  gender  age
mr_candy         LEE    Hantang    Male   19
mr_joggy        WONG  Zhengyang    Male   20
ms_misty         NaN        カスミ  Female   10

You can access a column of a DataFrame by specifying the column name in square
brackets [ ].

It returns a `pandas.Series` with the selected column.

In [10]:
"""
You must run the previous cell first. (To get 'dataframe' correctly set.)
"""

# obtain all family names (whole column)
retrieved_family_names = dataframe['family_name']

# visualize
print(retrieved_family_names)

# Noticed that the 'NaN' is an element in that Series

mr_candy     LEE
mr_joggy    WONG
ms_misty     NaN
Name: family_name, dtype: object

You can access a single DataFrame row using the same methods as for Series:
- .loc for label-based indexing
- .iloc for position-based indexing

It returns a `pandas.Series` with an element for each column.
The index contains the names of the columns.

In [11]:
# obtain info for a single person (while row)
retrieved_mr_candy = dataframe.loc['mr_candy']
retrieved_ms_misty = dataframe.iloc[2]

# visualize
print("-------- retrieved_mr_candy --------")
print(retrieved_mr_candy)
print("-------- retrieved_ms_misty --------")
print(retrieved_ms_misty)

-------- retrieved_mr_candy --------
family_name        LEE
given_name     Hantang
gender            Male
age                 19
Name: mr_candy, dtype: object
-------- retrieved_ms_misty --------
family_name       NaN
given_name        カスミ
gender         Female
age                10
Name: ms_misty, dtype: object

You can access DataFrames with slicing by selecting rows and/or columns.

You **cannot** mix position-based and label-based indexing.

```python
dataframe.loc[ <row>, <col> ]
```

In [12]:
# obtain some entries from the dataframe
retrieved_partial_dataframe = dataframe.loc[ 'mr_candy' : 'mr_joggy' , 'family_name' : 'given_name' ]

# visualize
retrieved_partial_dataframe

         family_name given_name
mr_candy         LEE    Hantang
mr_joggy        WONG  Zhengyang

You can also use masking to select rows based on a condition.

You can combine masking with slicing.

You have to specify a mask to select the rows based on a condition and then slice to
select only the same columns.

In [13]:
# Create a mask
mask = \
    (dataframe['age'] >= 18 ) & \
    (dataframe['family_name'] != 'WONG')

# visualize mask
mask

mr_candy     True
mr_joggy    False
ms_misty    False
dtype: bool

* _Note: operator '&' used here is 'AND'_
- _True & True == True_
- _True & False == False_
- _False & True == False_
- _False & False == False_

* _For 'OR' operation, use '|'._

In [14]:
dataframe[mask]

         family_name given_name gender  age
mr_candy         LEE    Hantang   Male   19

In [15]:
dataframe.loc[ mask, 'family_name' : 'given_name' ]

         family_name given_name
mr_candy         LEE    Hantang

* _Note: The first one worked without using .loc[ ], doesn't mean the second one can work without it._

* _Note: As masking is a different kind of 'selecting', the returned object is a DataFrame, not a Series._

#### Adding rows or columns

In [16]:
import pandas

# Again, some data first
mr_candy = pandas.Series(data = ['LEE', 'Hantang', 'Male', 19], \
                         index = ['family_name', 'given_name', 'gender', 'age'])
mr_joggy = pandas.Series(data = ['WONG', 'Zhengyang', 'Male', 20], \
                         index = ['family_name', 'given_name', 'gender', 'age'])
ms_misty = pandas.Series(data = ['カスミ', 'Female', 10], \
                         index = ['given_name', 'gender', 'age'])   # in the format, for missing fields, simply ignore that index

# And a dataframe
dataframe = pandas.DataFrame(data = [mr_candy, mr_joggy, ms_misty], index = ['mr_candy', 'mr_joggy', 'ms_misty'])   # you can fill in the indexes here

# let's visualize
dataframe

         family_name given_name  gender  age
mr_candy         LEE    Hantang    Male   19
mr_joggy        WONG  Zhengyang    Male   20
ms_misty         NaN        カスミ  Female   10

```python
pandas.DataFrame.insert()
```

**loc** : *int*
Insertion index. Must verify 0 <= loc <= len(columns).

**column** : *str, number, or hashable object*
Label of the inserted column.

**value** : *Scalar, Series, or array-like*
Content of the inserted column.

**allow_duplicates** : *bool*, optional, default lib.no_default
Allow duplicate column labels to be created.

In [17]:
# Prepare data for a new column
interest = pandas.Series(data = ['chemistry', 'anatomy', 'Pokémon'], index = ['mr_candy', 'mr_joggy', 'ms_misty'])

# Adding a column
dataframe.insert(loc = len(dataframe.columns), column = 'interest', value = interest)

# visualize
dataframe

         family_name given_name  gender  age   interest
mr_candy         LEE    Hantang    Male   19  chemistry
mr_joggy        WONG  Zhengyang    Male   20    anatomy
ms_misty         NaN        カスミ  Female   10    Pokémon

* _Note: `len(dataframe.columns)` gives the total count of the columns._

In [18]:
# You can also use the following format

# Prepare data for a new column
happiness = pandas.Series(data = [100, 50, 9999], index = ['mr_candy', 'mr_joggy', 'ms_misty'])

# Adding a column
dataframe['happiness'] = happiness

# visualize
dataframe

         family_name given_name  gender  age   interest  happiness
mr_candy         LEE    Hantang    Male   19  chemistry        100
mr_joggy        WONG  Zhengyang    Male   20    anatomy         50
ms_misty         NaN        カスミ  Female   10    Pokémon       9999

Adding a row is a bit harder.

- First option: use `dataframe.loc[len(dataframe)] = <new data>`
- Second option: use `pandas.concat()`

In [19]:
# Prepare a new row (entry)
mr_james = pandas.Series(data = ['Biden', 'James', 'Male', 100, 'mystery', 0], \
                         index = ['family_name', 'given_name', 'gender', 'age', 'interest', 'happiness'])

# Insert
dataframe.loc[len(dataframe)] = mr_james

# visualize
dataframe

# Note that you cannot specify index name here

         family_name given_name  gender  age   interest  happiness
mr_candy         LEE    Hantang    Male   19  chemistry        100
mr_joggy        WONG  Zhengyang    Male   20    anatomy         50
ms_misty         NaN        カスミ  Female   10    Pokémon       9999
3              Biden      James    Male  100    mystery          0